@model IEnumerable<Funfik.Web.Areas.Administration.Models.UserModel>

<table id="users">

    @foreach (var item in Model) {
        <tr>
            @Html.Partial("_ShowUserPartial", item)
            <td>
            
                @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                @Ajax.ActionLink("Delete", MVC.Administration.Home.DeleteUser(item.UserId),
                                 new AjaxOptions()
                                     {
                                         UpdateTargetId = "users",
                                         Confirm = "Are you that you want to delete this user?",
                                         InsertionMode = InsertionMode.Replace
                                     })|
                @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            
            </td>
        </tr>
    }
</table>