@model Funfik.Web.Areas.Administration.Models.UserModel

<tr>
        <td>
            @Html.DisplayFor(item => item.Username)
        </td>
        <td>
            @Html.DisplayFor(item => item.Password)
        </td>
        <td>
            @Html.DisplayFor(item => item.Email)
        </td>
</tr>