@{
    ViewBag.Title = "ConfirmationSuccess";
}

<h2>ConfirmationSuccess</h2>
<p>Congratulationa! You've just confirmed your account and now you can log in.</p>
<p>@Html.ActionLink("Back to home page", MVC.Default.Home.Index())</p>