@{
    ViewBag.Title = "RegisterStepTwo";
}

<h2>RegisterStepTwo</h2>

<p>Please log into your mail and follow the link to confirm your registration.</p>
<p>@Html.ActionLink("Back to home page", MVC.Default.Home.Index())</p>
