@model Funfik.Web.Areas.Administration.Models.UserModel

        <td>
            @Html.LabelForModel(Model.Username)
        </td>
        <td>
            @Html.LabelForModel(Model.Password)
        </td>
        <td>
            @Html.LabelForModel(Model.Email)
        </td>